-i https://pypi.org/simple/
alabaster==0.7.12
argh==0.26.2
babel==2.7.0
binarytree==4.0.0
certifi==2019.9.11
chardet==3.0.4
commonmark==0.5.4
docutils==0.15.2
idna==2.7
imagesize==1.1.0
jinja2==2.10.3
livereload==2.6.1
markdown==2.6.11
markupsafe==1.1.1
packaging==19.2
pathtools==0.1.2
port-for==0.3.1
pygments==2.4.2
pyparsing==2.4.2
pytz==2019.3
pyyaml==5.1.2
recommonmark==0.4.0
requests==2.20.0
six==1.12.0
snowballstemmer==2.0.0
sphinx-autobuild==0.7.1
sphinx-markdown-tables==0.0.9
sphinx-rtd-theme==0.4.2
sphinx==1.8.1
sphinxcontrib-websupport==1.1.2
tornado==6.0.3
urllib3==1.24.2
watchdog==0.9.0
