-i https://pypi.org/simple/
alabaster==0.7.12
argh==0.26.2
babel==2.9.0
binarytree==4.0.0
certifi==2020.12.5
chardet==3.0.4
commonmark==0.5.4
docutils==0.16
idna==2.7
imagesize==1.2.0
jinja2==2.11.3
livereload==2.6.3
markdown==2.6.11
markupsafe==1.1.1
packaging==20.9
pathtools==0.1.2
port-for==0.3.1
pygments==2.8.1
pyparsing==2.4.7
pytz==2021.1
pyyaml==5.4.1
recommonmark==0.4.0
requests==2.20.0
six==1.15.0
snowballstemmer==2.1.0
sphinx-autobuild==0.7.1
sphinx-markdown-tables==0.0.9
sphinx-rtd-theme==0.4.2
sphinx==1.8.1
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
tornado==6.1
urllib3==1.24.3
watchdog==2.0.2
